extends layout


	

html.

	<script>
	document.write('<h4>'+'Be first to vote!'+'</h4>');
	//var g=JSON.parse('!{names}')
	//console.log(JSON.stringify(g));
	//console.log(g);
	console.log('idiots22');
	</script>


block content
	div.container-fluid
		div.row
		<div id='main'>
		h1.text-left Welcome #{user.username} #{names}.
		<h4>Please enter your location</h4>
		<form class="user_location" , action="/location_submit_", method="POST">
		<h4>Location
		<input type='text', name='user_location', placeholder='location',required, autofocus)></input>
		</h4>
